<thead>
    <tr>
        <th scope="col" colspan="3">Основна Информация</th>
        <th scope="col" colspan="2">Рамка</th>
        <th scope="col" colspan="1">Стъкло</th>
        <th scope="col" colspan="3">Други</th>
    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Дата</th>
        <th scope="col">Клиент</th>
        <th scope="col">Профил</th>
        <th scope="col">Размери</th>
        <th scope="col">Стъкло</th>
        <th scope="col">Други услуги</th>
        <th scope="col">Бележки</th>
        <th scope="col">Баланс</th>
    </tr>
</thead>
