asgiref==3.8.1
diff-match-patch==20241021
distlib==0.3.9
Django==5.1.2
django-bootstrap5==24.3
django-cors-headers==4.5.0
django-filter==24.3
django-import-export==4.2.0
djangorestframework==3.15.2
filelock==3.16.1
Markdown==3.7
platformdirs==4.3.6
sqlparse==0.5.1
tablib==3.7.0
virtualenv==20.27.0
