{% load django_bootstrap5 %}

<!-- Filter Form -->
<div class="collapse" id="collapseExample" style="margin-top: 20px;">
    <div class="card card-body">
        <form method="POST">
            {% csrf_token %}
            <div style="font-size: 90%; margin-top: 20px;">
                {% bootstrap_form filter_form bound_css_class='' %}
            </div>
            <div style="text-align: center;">
                <input type="submit" class="btn btn-primary" value="Filter" name="action">
            </div>
        </form>
    </div>
</div>
