<ul class="nav justify-content-center nav-tabs" id="myTab" role="tablist">
    {% if nav_select == 'Internal' %}
        <!-- Orders tab selected -->
        <li class="nav-item" role="presentation">
            <button class="nav-link active">Поръчки</button>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'externals' %}">Оферти</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'vitrines' %}">Витрини</a>
        </li>
    {% elif nav_select == 'External' %}
        <!-- Offers tab selected -->
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'internals' %}">Поръчки</a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active">Оферти</button>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'vitrines' %}">Витрини</a>
        </li>
    {% elif nav_select == 'Vitrine' %}
        <!-- Offers tab selected -->
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'internals' %}">Поръчки</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'externals' %}">Оферти</a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active">Витрини</button>
        </li>
    {% endif %}
</ul>
