<ul class="nav justify-content-center nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        {% if dynamic_mode %}
            <button class="nav-link {% if nav_select == 'table' %}active{% endif %}" type="button" data-dynamic-view="table">Разкрой</button>
        {% elif nav_select == "table" %}
            <button class="nav-link active">Разкрой</button>
        {% else %}
            <a class="nav-link" href="{% url 'table' %}">Разкрой</a>
        {% endif %}
    </li>
    <li class="nav-item" role="presentation">
        {% if dynamic_mode %}
            <button class="nav-link {% if nav_select == 'vitrine' %}active{% endif %}" type="button" data-dynamic-view="vitrine">Витрини</button>
        {% elif nav_select == "vitrine" %}
            <button class="nav-link active">Витрини</button>
        {% else %}
            <a class="nav-link" href="{% url 'vitrine' %}">Витрини</a>
        {% endif %}
    </li>
</ul>
