{% load static %}
{% load django_bootstrap5 %}

{# MODALS & OFFCANVAS #}
{% if not dynamic_mode %}
    {% include "common/modals/progress_modal.html" with object=order app_name="table" progress_table_template="table/order_progress_form.html" %}
{% endif %}
{% include "common/modals/delete_modal.html" with object=order app_name="table" %}
{% include "common/components/offcanvas_history.html" with object=order object_type="Order" %}

<div class="container-fluid order-view" id="order-view-{{ order.id }}">
    {% if dynamic_mode %}
        {% csrf_token %}
    {% endif %}

    {# ORDER ITEMS PROGRESS TABLE #}
    {% include "table/order_table.html" with order=order %}
    
    {# ORDER TOOLBAR #}
    {% include "common/components/order_toolbar.html" with object=order %}
</div>
