{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_order.css' %}?v=1.3">
{% endblock %}

{% block content %}

<div class="container-fluid fixed-min-width" style="width: 90%;">

	{% include "common/components/alert.html" %}

	<div style="text-align: center; margin: 20px;">
		<h1>Редактиране на витрина</h1>
	</div>

	<form method="POST" id="edit-vitrine-form" class="shadow-lg edit-order-form">
		{% csrf_token %}
		<label class="form-label" for="vitrine_id">ID</label>
		<input type="text" id="vitrine_id" class="form-control" readonly value="{{ current_order.id }}">
		<br>

		{% bootstrap_form form bound_css_class='' %}
		{% bootstrap_form add_note bound_css_class=''%}
		
		{{frame_forms.management_form}}
		{{others_forms.management_form}}
		{{payment_forms.management_form}}

		<div class="row">

			<div class="col">
				<h4>Витрини</h4>
				<table class="table table-sm frame-table">
					<thead>
						<tr>
							<th>Профил</th>
							<th>Дължина</th>
							<th>Широчина</th>
							<th>Брой</th>
							<th>Брой Отвори</th>
							<th>Позиция отвори</th>
							<th>Стъкло</th>
							<th>Изтрий</th>
						</tr>
					</thead>
					<tbody>
						{% for item in frame_forms %}
							{{ item.id }}
							<tr>
								<td>{{ item.profile_type }}</td>
								<td>{{ item.length }}</td>
								<td>{{ item.width }}</td>
								<td>{{ item.quantity }}</td>
								<td>{{ item.holes_count }}</td>
								<td>{{ item.holes_position }}</td>
								<td>{{ item.glass_type }}</td>
								<td>
									<div class="form-check form-switch" style="display: flex; justify-content: center;">
										{{ item.DELETE }}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="col">
				<h4>Информация за поръчка</h4>
				{% include "vitrine/tables/vitrine_order_info.html" %}
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h4>Други услуги</h4>
				{% include "common/tables/others_form_table.html" %}
			</div>

			<div class="col">
				<h4>Плащания</h4>
				<br>
				<table class="table table-sm">
					<tbody>
						<tr>
							<td><strong>ОБЩА СТОЙНОСТ</strong></td>
							<td><strong>{{ current_order.total_price }}</strong></td>
						</tr>
						{% for item in payment_forms %}
							{{ item.id }}
							<tr>
								<td>плащане</td>
								<td>{{item.payment_method}}</td>
								<td>{{item.value}}</td>
							</tr>
						{% endfor %}
						<tr>
							<td scope="3"><strong>Всичко платено</strong></td>
							<td></td>
							<td><strong>{{ current_order.paid }}</strong></td>
						</tr>
						<tr>
							<td><strong>БАЛАНС</strong></td>
							<td><strong>{{ current_order.balance }}</strong></td>
						</tr>
					</tbody>
					
				</table>
			</div>
			
		</div>
		<br><br><br>

		<div style="margin-left: 48%; margin-right: 50%; padding-bottom: 20px;">
			<a class="btn btn-outline-info" href="{% url 'vitrine:print_vitrine' pk=current_order %}" role="button" target="_blank" title="Print View">
				<img src="{% static 'images/printer.png' %}" class="tableIcons">
			</a>
		</div>
		<div class="d-grid gap-2 col-3 mx-auto">
			<button type="submit" class="btn btn-primary" id="edit-vitrine-button">Update</button>
		</div>

	</form>
	
</div>

{% endblock %}