<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>МЕГА ТРЕЙДИНГ ЕООД</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/printer.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/5.1.3/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/print_order.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/format_table.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/vitrines.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/holes_dots.css' %}">
</head>
<body>
	<div class="container" style="padding-top: 20px;">
		<table class="table table-sm table-bordered border-dark">
			<thead>
				<tr>
					<th scope="col" rowspan="3" class="text-top-left">
						<pre class="pre_bold">МЕГА ТРЕЙДИНГ ЕООД</pre> <br> 
						<pre class="pre_bold_small">Магазин</pre> <br> <pre>ПЗ Орион ул.3019, на ъгъла с ул. Адам Мицкевич  </pre> <br>
						<pre>&#128222; 0895795480</pre> <pre>&#128222; 0895795440</pre> <br>
						<pre class="pre_bold_small">Условия за поръчка:</pre> <br>
						<pre class="pre_bold_small">•</pre><pre> Срок за изработка: до 15 работни дни след <br>   капариране 50% от стойността на офертата.</pre> <br>
						<pre class="pre_bold_small">•</pre><pre> Срокът се удължава при всяка промяна на размери.</pre> <br>
						<pre class="pre_bold_small">•</pre><pre> Срокът за рекламации и съхранение на готови поръчки е до 3 работни дни, </pre> <br><pre>   считано от уведомителното съобщение.</pre> <br>
					</th>
					<th scope="col" class="text-top-left">Поръчка № {{vitrine.id}} <br> Дата: {{vitrine.created_date|date:'d.m.Y'}}</th>
				</tr>
				<tr>
					<th class="text-top-left">Клиент: {{vitrine.owner}}</th>
				</tr>
				<tr>
					<th class="text-top-left">Тел: {{vitrine.telephone}}</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="container" style="padding-top: 10px">
		<div class="row">
			<div class="col">
				<h4>Витрини</h4>
				<table class="table table-sm custom-table-sm table-no-wrap">
					<thead>
						<tr>
							<th scope="col">Размери</th>
							<th scope="col">Брой</th>
							<th scope="col">Профил</th>
							<th scope="col">Стъкло</th>
						</tr>
					</thead>
					<tbody>
						{% for item in vitrine.frames.all %}
							<tr>
								<td class="align-center">
									<div class="frame-size" id="frame-size-{{ item.pk }}">
										{% if item.holes_position == "length" %}
											{% include "vitrine/components/holes_vertical.html" with count=item.holes_count %}
											<div>{{ item.length }}</div>
											<div>x</div>
											<div>{{ item.width }}</div>
										{% else %}
											<div class="empty"></div>
											<div>{{ item.length }}</div>
											<div>x</div>
											{% include "vitrine/components/holes_vertical.html" with count=item.holes_count %}
											<div>{{ item.width }}</div>
										{% endif %}
									</div>
								</td>
								<td class="align-center">{{ item.quantity }}</td>
								<td class="align-center">{{ item.get_profile_type_display }}</td>
								{% for glass in item.glasss.all %}
									<td class="align-center">{{ glass.glass_type }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="col">
				<h4>Информация за поръчка</h4>
				{% include "vitrine/tables/vitrine_order_info.html" with current_order=vitrine %}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Други услуги</h4>
				{% include "common/tables/others_print_table.html" with order=vitrine props="custom-table-sm table-no-wrap" %}
			</div>

			<div class="col">
				<h4>Плащания</h4>
				{% include "common/tables/payment_print_table.html" with order=vitrine props="custom-table-sm table-no-wrap" %}
			</div>
		</div>
		<div class="row">
		</div>
	</div>
	<script type="text/javascript" src="{% static 'bootstrap/5.1.3/js/bootstrap.bundle.js' %}"></script>
</body>
</html>