{% extends "layout/content.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/vitrines.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/holes_dots.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/modal_progress.css' %}">
{% endblock %}

{% block table_content %}
<table class="table table-hover table-bordered table-content-brake">
    {% include "vitrine/components/table_header.html" %}
    <tbody>
        {% include "vitrine/components/table_rows.html" %}
    </tbody>
</table>
{% endblock %}

{% block vitrine_scripts %}
<script type="text/javascript" src="{% static 'vitrine/js/virtual_rows.js' %}"></script>
{% endblock %}
