{% extends "shared/base_table_view.html" %}

{% block table_content %}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Клиент</th>
            <th>Тип витрина</th>
            <th>Размери</th>
            <th>Цвят</th>
            <th>Цена</th>
        </tr>
    </thead>

    <tbody>
    {% for vitrine in orders %}
        <tr>
            <td>{{ vitrine.id }}</td>
            <td>{{ vitrine.created_date|date:"d.m.Y" }}</td>
            <td>{{ vitrine.owner }}</td>
            <td>{{ vitrine.type }}</td>
            <td>{{ vitrine.size }}</td>
            <td>{{ vitrine.color }}</td>
            <td>{{ vitrine.total_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
