<table class="table table-sm custom-table-sm table-no-wrap">
    <tbody>
        <tr class="section-header">
            <th><strong>Профил</strong></th>
            <th><strong>Количество</strong></th>
            <th><strong>Цена за л.м</strong></th>
            <th><strong>Стойност</strong></th>
        </tr>
        {% if black_profile_len != "0.00" %}
            <tr>
                <td class="indent-cell">Черeн</td>
                <td>{{ black_profile_len }} л.м.</td>
                <td>{{ current_order.black_profile_price }} лв</td>
                <td>{{ black_profile_total }} лв</td>
            </tr>
        {% endif %}
        {% if matte_profile_len != "0.00" %}
            <tr>
                <td class="indent-cell">Матов</td>
                <td>{{ matte_profile_len }} л.м.</td>
                <td>{{ current_order.matte_profile_price }} лв</td>
                <td>{{ matte_profile_total }} лв</td>
            </tr>
        {% endif %}
        {% if inox_profile_len != "0.00" %}
            <tr>
                <td class="indent-cell">Инокс</td>
                <td>{{ inox_profile_len }} л.м.</td>
                <td>{{ current_order.inox_profile_price }} лв</td>
                <td>{{ inox_profile_total }} лв</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3"><strong>Общо</strong></td>
            <td><strong>{{ current_order.frames_total }} лв</strong></td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr class="section-header">
            <th><strong>Уплътнение</strong></th>
            <th><strong>Количество</strong></th>
            <th><strong>Цена за л.м</strong></th>
            <th><strong>Стойност</strong></th>
        </tr>
        {% if black_seal != "0.00" %}
        <tr>
            <td class="indent-cell">Черно</td>
            <td>{{ black_seal }} л.м.</td>
            <td>{{ current_order.black_seal_price }} лв</td>
            <td>{{ black_seal_total }} лв</td>
        </tr>
        {% endif %}
        {% if white_seal != "0.00" %}
        <tr>
            <td class="indent-cell">Бяло</td>
            <td>{{ white_seal }} л.м.</td>
            <td>{{ current_order.white_seal_price }} лв</td>
            <td>{{ white_seal_total }} лв</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="3"><strong>Общо</strong></td>
            <td><strong>{{ current_order.seals_total }} лв</strong></td>
        </tr>
        <tr><td colspan="4"></td></tr>
        <tr class="section-header">
            <th><strong>Други</strong></th>
            <th><strong>Брой</strong></th>
            <th><strong>Ед. цена</strong></th>
            <th><strong>Стойност</strong></th>
        </tr>
        {% if total_frames_count != "0" %}
        <tr>
            <td class="indent-cell">Изработка</td>
            <td>{{ total_frames_count }}</td>
            <td>{{ current_order.manufacturing_price }} лв</td>
            <td>{{ current_order.manufacturing_total }} лв</td>
        </tr>
        {% endif %}
        {% if additional_holes != "0" %}
            <tr>
                <td class="indent-cell">д-ни отвори</td>
                <td>{{ additional_holes }}</td>
                <td>{{ current_order.add_hole_price }} лв</td>
                <td>{{ current_order.holes_total }} лв</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3"><strong>Общо</strong></td>
            <td><strong>{{ additional_total }} лв</strong></td>
        </tr>
    </tbody>
</table>