{% load static %}
{% load django_bootstrap5 %}
<!-- ######################################################## MODALS ################################################################# -->
<!-- MODAL PROGRESS WINDOW -->

<div id="progress-window-{{order.id}}">
    <div class="modal fade" id="modal-progress-{{order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog fixed-min-width">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        <div style="text-align: center; color: red;">
                            UPDATE PROGRESS
                        </div>
                        <div>
                            Поръчка №{{order.id}}
                        </div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="{{order.id}}" class="updateForms">
                    <div class="modal-body">
                        <div class="ALERT-S-UPD-VIEW alertmsg" style="display: none;">
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="SuccessAlert">
                                <strong><div style="text-align: center;">SUCCESSFULLY SAVED</div></strong>
                                <button type="button" class="btn-close SuccessAlertBtn" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="ALERT-E-UPD-VIEW alertmsg" style="display: none;">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorAlert">
                                <strong><div class="alertmsgdiv" style="text-align: center;">ERROR OCCURRED</div></strong>
                                <button type="button" class="btn-close ErrorAlertBtn" aria-label="Close"></button>
                            </div>
                        </div>

                        {% csrf_token %}

                        <table class="table">
                            <thead>
                                <th scope="col">Материал</th>
                                <th scope="col">Поръчано</th>
                                <th scope="col">Доставено</th>
                                <th scope="col">Нарязано</th>
                                <th scope="col">Кантирано</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" colspan="5">EGGER</th>
                                </tr>
                                {{plate_forms.management_form}}
                            
                                {% for item in plate_forms %}
                                    {% if item.manufacturer.value == 'Egger' %}
                                        {{item.id}}
                                        <tr>
                                            <td>{{item.material}}</td>
                                            <td>{{item.ordered}}</td>
                                            <td>{{item.delivered}}</td>
                                            <td>{{item.cutted}}</td>
                                            <td>{{item.edged}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                <tr>
                                    <th scope="row" colspan="5">KRONO</th>
                                </tr>

                                {% for item in plate_forms %}
                                    {% if item.manufacturer.value == 'Kronospan' %}
                                        {{item.id}}
                                        <tr>
                                            <td>{{item.material}}</td>
                                            <td>{{item.ordered}}</td>
                                            <td>{{item.delivered}}</td>
                                            <td>{{item.cutted}}</td>
                                            <td>{{item.edged}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                <tr>
                                    <th scope="row" colspan="5">Други</th>
                                </tr>

                                {% for item in plate_forms %}
                                    {% if item.manufacturer.value == 'Other' %}
                                        {{item.id}}
                                        <tr>
                                            <td>{{item.material}}</td>
                                            <td>{{item.ordered}}</td>
                                            <td>{{item.delivered}}</td>
                                            <td>{{item.cutted}}</td>
                                            <td>{{item.edged}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            
                                <tr>
                                    <th scope="row" colspan="5">Кант</th>
                                </tr>
                                
                                {{edge_forms.management_form}}

                                {% for item in edge_forms %}
                                    {{item.id}}
                                    <tr>
                                        <td>{{item.color_code}}{{item.edge_type}}</td>
                                        <td style="margin-right: auto; margin-top: auto;">{{item.ordered}}</td>
                                        <td>{{item.delivered}}</td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    <th scope="row" colspan="5"></th>
                                </tr>

                                <tr>
                                    <td>Поръчката е взета</td>
                                    <td>{{order_progress.order_taken}}</td>
                                </tr>

                                <tr>
                                    <td>Издадена фактура</td>
                                    <td>{{order_progress.invoice}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateButtons" id="{{order.id}}">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PROGRESS WINDOW END -->

<!-- MODAL DELETE WINDOW -->
<div id="delete-window-{{order.id}}">
    <div class="modal fade" id="modal-delete-{{order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm fixed-min-width">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">DELETE ORDER</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="Delete{{order.id}}" class="deleteForms">
                    {% csrf_token %}
                    <div class="ALERT-S-DEL-VIEW" style="display: none;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert" id="SuccessAlert">
                            <strong><div style="text-align: center;">SUCCESSFULLY DELETED</div></strong>
                            <button type="button" class="btn-close SuccessAlertBtn" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="ALERT-E-DEL-VIEW" style="display: none;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="ErrorAlert">
                            <strong><div class="alertmsgdiv" style="text-align: center;">ERROR OCCURRED</div></strong>
                            <button type="button" class="btn-close ErrorAlertBtn" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h5>Are you sure you want to delete Order: 
                            <strong>#{{order.id}}</strong>
                        </h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger deleteButtons" id="{{order.id}}">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- MODAL DELETE WINDOW END -->

<!-- OFFCANVAS HISTORY TAB -->
<div id="offcanvas-history-tab-{{order.id}}">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="history-tab-{{order.id}}" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">История за поръчка №{{order.id}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="{{order.id}}" pulled="False">
            <button class="btn btn-outline-secondary" id="historyRefresh{{order.id}}" type="button">
                <img src="{% static 'images/refresh-arrow.png' %}" class="tableIcons">
            </button>
            <div class="d-flex justify-content-center" style="margin-top: 100%;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OFFCANVAS HISTORY TAB END-->
<!-- ######################################################## MODALS ################################################################# -->

<div class="container-fluid order-view" id="order-view-{{order.id}}">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Материал</th>
                <th scope="col">Поръчано</th>
                <th scope="col">Доставено</th>
                <th scope="col">Нарязано</th>
                <th scope="col">Кантирано</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row" colspan="8">ЕГЕР</th>
            </tr>
            {% for item in order.plates.all %}
                {% if item.manufacturer == "Egger" %}
                    <tr>
                        <td>{{item.material}} - {{item.quantity}}</td>

                        <td colspan="4">
                            <ul class="progressbar" id="bar{{item.pk}}">
                                {% if item.from_client %}
                                    <li class="ordered disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.ordered %}
                                        <li class="ordered active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="ordered" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                                {% if item.delivered %}
                                    <li class="delivered active" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    <li class="delivered" id="plate_prog{{item.pk}}"></li>
                                {% endif %}
                                {% if order.client == 'External' %}
                                    <li class="cutted disabled" id="plate_prog{{item.pk}}"></li>
                                    <li class="edged disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.cutted %}
                                        <li class="cutted active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="cutted" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                    {% if item.edged %}
                                        <li class="edged active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="edged" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th scope="row" colspan="8">КРОНО</th>
            </tr>
            {% for item in order.plates.all %}
                {% if item.manufacturer == "Kronospan" %}
                    <tr>
                        <td>{{item.material}} - {{item.quantity}}</td>
                        <td colspan="4">
                            <ul class="progressbar" id="bar{{item.pk}}">
                                {% if item.from_client %}
                                    <li class="ordered disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.ordered %}
                                        <li class="ordered active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="ordered" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                                {% if item.delivered %}
                                    <li class="delivered active" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    <li class="delivered" id="plate_prog{{item.pk}}"></li>
                                {% endif %}
                                {% if order.client == 'External' %}
                                    <li class="cutted disabled" id="plate_prog{{item.pk}}"></li>
                                    <li class="edged disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.cutted %}
                                        <li class="cutted active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="cutted" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                    {% if item.edged %}
                                        <li class="edged active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="edged" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th scope="row" colspan="8">ДРУГИ</th>
            </tr>
            {% for item in order.plates.all %}
                {% if item.manufacturer == "Other" %}
                    <tr>
                        <td>{{item.material}} - {{item.quantity}}</td>
                        <td colspan="4">
                            <ul class="progressbar" id="bar{{item.pk}}">
                                {% if item.from_client %}
                                    <li class="ordered disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.ordered %}
                                        <li class="ordered active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="ordered" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                                {% if item.delivered %}
                                    <li class="delivered active" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    <li class="delivered" id="plate_prog{{item.pk}}"></li>
                                {% endif %}
                                {% if order.client == 'External' %}
                                    <li class="cutted disabled" id="plate_prog{{item.pk}}"></li>
                                    <li class="edged disabled" id="plate_prog{{item.pk}}"></li>
                                {% else %}
                                    {% if item.cutted %}
                                        <li class="cutted active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="cutted" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                    {% if item.edged %}
                                        <li class="edged active" id="plate_prog{{item.pk}}"></li>
                                    {% else %}
                                        <li class="edged" id="plate_prog{{item.pk}}"></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th scope="row" colspan="8">КАНТ</th>
            </tr>
            {% for item in order.edges.all %}
                <tr>
                    <td>{{item.edge_type}}-{{item.color_code}} - {{item.quantity}}</td>
                    <td colspan="4">
                        <ul class="progressbar">
                            {% if item.ordered %}
                                <li class="ordered active" id="edge_prog{{item.pk}}"></li>
                            {% else %}
                                <li class="ordered" id="edge_prog{{item.pk}}"></li>
                            {% endif %}
                            {% if item.delivered %}
                                <li class="delivered active" id="edge_prog{{item.pk}}"></li>
                            {% else %}
                                <li class="delivered" id="edge_prog{{item.pk}}"></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="hidden-buttons">
        <a class="btn btn-outline-primary" href="{% url 'table:editOrder' pk=order.id %}" role="button" title="Edit Order">
            <img src="{% static 'images/edit.png' %}" class="tableIcons">
        </a>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{order.id}}" title="Delete Order">
            <img src="{% static 'images/delete-can.png' %}" class="tableIcons">
        </button>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-progress-{{order.id}}" title="Update Order">
            <img src="{% static 'images/check-list.png' %}" class="tableIcons">
        </button>
        <a class="btn btn-outline-info" href="{% url 'table:printOrder' pk=order.id %}" role="button" target="_blank" title="Print View">
            <img src="{% static 'images/printer.png' %}" class="tableIcons">
        </a>
        <button class="btn btn-outline-warning Historybtns" id="{{order.id}}" type="button" data-bs-toggle="offcanvas" data-bs-target="#history-tab-{{order.id}}" aria-controls="offcanvasRight">
            <img src="{% static 'images/deadline.png' %}" class="tableIcons">
        </button>
        <button class="btn btn-outline-light" id="{{order.id}}" type="button" onclick="retry_order('{{order.id}}')">
            <img src="{% static 'images/refresh.png' %}" class="tableIcons">
        </button>
    </div>
</div>