{% extends "layout/content.html" %}
{% load static %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dynamic_orders.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/new_order_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_order.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/format_table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/manual_seal_toggle.css' %}">
    {% if current_dynamic_view == "vitrine" %}
        <link id="dynamic-vitrine-css-vitrines" rel="stylesheet" type="text/css" href="{% static 'vitrine/css/vitrines.css' %}">
        <link id="dynamic-vitrine-css-holes" rel="stylesheet" type="text/css" href="{% static 'vitrine/css/holes_dots.css' %}">
        <link id="dynamic-vitrine-css-modal" rel="stylesheet" type="text/css" href="{% static 'vitrine/css/modal_progress.css' %}">
    {% endif %}
{% endblock %}

{% block table_content %}
    <div
        id="dynamic-orders-root"
        data-current-view="{{ current_dynamic_view }}"
        data-search-min-length="{{ dynamic_content.search_min_length }}"
        data-search-debounce-ms="{{ dynamic_content.search_debounce_ms }}"
        data-orders-sync-interval-ms="{{ dynamic_content.orders_sync_interval_ms }}"
        data-local-mutation-skip-ms="{{ dynamic_content.local_mutation_skip_ms }}"
        data-range-filter-debounce-ms="{{ dynamic_content.range_filter_debounce_ms }}"
        data-sync-highlight-ms="{{ dynamic_content.sync_highlight_ms }}"
        data-vitrine-css-vitrines="{% static 'vitrine/css/vitrines.css' %}"
        data-vitrine-css-holes="{% static 'vitrine/css/holes_dots.css' %}"
        data-vitrine-css-modal="{% static 'vitrine/css/modal_progress.css' %}"
    >
        <div id="dynamic-orders-table-container">
            {% if current_dynamic_view == "vitrine" %}
                {% include "dynamic/components/vitrine_shell.html" %}
            {% else %}
                {% include "dynamic/components/table_shell.html" %}
            {% endif %}
        </div>

        <template id="dynamic-table-shell-template">
            {% include "dynamic/components/table_shell.html" %}
        </template>
        <template id="dynamic-vitrine-shell-template">
            {% include "dynamic/components/vitrine_shell.html" %}
        </template>
    </div>
    {% include "dynamic/components/connection_toast.html" %}
    {% include "dynamic/components/order_form_modal.html" %}
{% endblock %}

{% block vitrine_scripts %}
<script type="text/javascript" src="{% static 'vitrine/js/virtual_rows.js' %}"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {# Dynamic orders page modules (load order matters for shared state) #}
    <script type="text/javascript" src="{% static 'js/dynamic/state.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/session.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/connection.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/cache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/render.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/fetch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/sync.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dynamic/page.js' %}"></script>
    {# Click-to-toggle progress steps (dynamic table / vitrine; static boards use the modal) #}
    <script type="text/javascript" src="{% static 'js/orders/actions/progress-step.js' %}"></script>
    {# Table / vitrine create/edit order form modal #}
    <script type="text/javascript" src="{% static 'vitrine/js/manual_seal_toggle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/orders/actions/order-form-modal.js' %}"></script>
{% endblock %}
