<thead>
    <tr>
        <th scope="col" colspan="3">Основна Информация</th>
        <th scope="col" colspan="3">Плочи</th>
        <th scope="col">Кант</th>
        <th scope="col" colspan="3">Други</th>
    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Дата</th>
        <th scope="col">Клиент</th>
        <th scope="col">Егер</th>
        <th scope="col">Кроно</th>
        <th scope="col">Други</th>
        <th scope="col">Кант</th>
        <th scope="col">Други услуги</th>
        <th scope="col">Бележки</th>
        <th scope="col">Баланс</th>
    </tr>
</thead>
