<thead>
    <tr>
        <th scope="col" colspan="3">Основна Информация</th>
        <th scope="col" colspan="3">Плочи</th>
        <th scope="col">Кант</th>
        <th scope="col" colspan="3">Други</th>
    </tr>
    <tr>
        <th scope="col" class="th-sortable" data-sort-by="order_id" role="button" tabindex="0" aria-sort="none">
            #<span class="sort-arrow" aria-hidden="true"></span>
        </th>
        <th scope="col" class="th-sortable" data-sort-by="date" role="button" tabindex="0" aria-sort="none">
            Дата<span class="sort-arrow" aria-hidden="true"></span>
        </th>
        <th scope="col">Клиент</th>
        <th scope="col">Егер</th>
        <th scope="col">Кроно</th>
        <th scope="col">Други</th>
        <th scope="col">Кант</th>
        <th scope="col">Други услуги</th>
        <th scope="col">Бележки</th>
        <th scope="col" class="th-sortable" data-sort-by="balance" role="button" tabindex="0" aria-sort="none">
            Баланс<span class="sort-arrow" aria-hidden="true"></span>
        </th>
    </tr>
</thead>
