<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" id="viewport-scale-meta">
		<title>TTable Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/5.1.3/css/bootstrap.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favico.png' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
	</head>
	<body>
		<div class="container-fluid login-page">
			<div class="container-fluid shadow-lg login-card">
				<h2 class="login-header">
					Login
				</h2>
				<form method="post" class="login-form">
					{% csrf_token %}
					{% bootstrap_form form %}
					<div class="login-button-div">
						<button type="submit" class="btn btn-primary login-button">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/5.1.3/js/bootstrap.bundle.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/viewport.js' %}"></script>
		<script type="text/javascript" src="{% static 'accounts/js/login-base.js' %}"></script>
	</body>
</html>