
/** General sizes */
.edit-order-form
{
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
}

.indent-cell {
    padding-left: 1rem !important;
}

.table-min-width {
    min-width: 40rem;
}

/*
 * Vitrine app Frame table cell sizes
 */

/** Profile color */
.frame-table th:nth-child(1),
.frame-table td:nth-child(1) {
    min-width: 6rem;
}

/** Length */
.frame-table th:nth-child(2),
.frame-table td:nth-child(2) {
    min-width: 5rem;
}

/** Width */
.frame-table th:nth-child(3),
.frame-table td:nth-child(3) {
    min-width: 5rem;
}

/** Quantity */
.frame-table th:nth-child(4),
.frame-table td:nth-child(4) {
    min-width: 3rem;
}

/** Holes count */
.frame-table th:nth-child(5),
.frame-table td:nth-child(5) {
    min-width: 4rem;
}

/** Holes position */
.frame-table th:nth-child(6),
.frame-table td:nth-child(6) {
    min-width: 7.5rem;
}

/** Glass */
.frame-table th:nth-child(7),
.frame-table td:nth-child(7) {
    min-width: 5rem;
}

/*
 * Table app Plates table cell sizes
 */

/** Plate material */
.plate-table th:nth-child(1),
.plate-table td:nth-child(1) {
    min-width: 7rem;
}

/** Manufacturer */
.plate-table th:nth-child(2),
.plate-table td:nth-child(2) {
    min-width: 4rem;
}

/** Plate from client */
.plate-table th:nth-child(3),
.plate-table td:nth-child(3) {
    min-width: 4.5rem;
}

/** Quantity */
.plate-table th:nth-child(4),
.plate-table td:nth-child(4) {
    min-width: 4rem;
}

/** Price */
.plate-table th:nth-child(5),
.plate-table td:nth-child(5) {
    min-width: 6rem;
}

/** Value */
.plate-table th:nth-child(6),
.plate-table td:nth-child(6) {
    min-width: 6.5rem;
}

/** Delete */
.plate-table th:nth-child(7),
.plate-table td:nth-child(7) {
    min-width: 3rem;
}