<table class="table table-hover table-bordered table-content-brake">
    {% include "vitrine/components/table_header.html" %}
    <tbody id="dynamic-orders-body" data-view="vitrine" data-colspan="9" data-endpoint="{% url 'dynamic-vitrine-orders' %}">
    </tbody>
</table>
<div id="dynamic-orders-footer" class="dynamic-orders-footer text-center py-3">
    <div id="dynamic-orders-sentinel" class="dynamic-orders-sentinel" aria-hidden="true"></div>
    <div id="dynamic-orders-status" class="dynamic-orders-status"></div>
</div>
