<table class="table">
    <thead>
        <tr>
            <th>Вид</th>
            <th>Количество</th>
            <th>Единична цена</th>
            <th>Стойност</th>
            <th>
                <div style="text-align: center">Изтрий</div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in others_forms %}
        {{ item.id }}
            <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.value }}</td>
                <td>
                    <div class="form-check form-switch" style="display: flex; justify-content: center;">
                        {{ item.DELETE }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Общо</th>
            <th>
                <div>
                    {{ current_order.others_total }}
                </div>
            </th>
        </tr>
    </tbody>
</table>