<table class="table table-sm {{ props }}">
    <thead>
        <tr>
            <th scope="col">Други услуги</th>
            <th scope="col">Брой</th>
            <th scope="col">Ед. цена</th>
            <th scope="col">Стойност</th>
        </tr>
    </thead>
    <tbody>
        {% for other in order.others.all %}
            <tr>
                <td>{{other.description}}</td>
                <td>{{other.quantity}}</td>
                <td>{{other.price}} {{ currency }}</td>
                <td>{{other.value}} {{ currency }}</td>
            </tr>
        {% endfor %}
        <th colspan="3">Общо</th>
        <th>{{order.others_total}} {{ currency }}</th>
    </tbody>
</table>