<table class="table table-sm">
    <thead>
        <tr>
            <th colspan="2"><strong>Обща стойност</strong></th>
            <th><strong>{{ current_order.total_price }} {{ currency }}</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for item in payment_forms %}
            {{ item.id }}
            <tr>
                <td>плащане-{{ forloop.counter }}</td>
                <td>{{ item.payment_method }}</td>
                <td>
                    <div class="input-group input-group-sm">
                        {{ item.value }}<span class="input-group-text">{{ currency }}</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>Всичко платено</strong></td>
            <td><strong>{{ current_order.paid }} {{ currency }}</strong></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Остатък за доплащане</strong></td>
            <td><strong>{{ current_order.balance }} {{ currency }}</strong></td>
        </tr>
    </tbody>
</table>