{% extends 'layout/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container-fluid WelcomeText fixed-min-width">
        <h2>Good {{ current_time }}</h2>
    </div>

    <!-- navigation -->
    <div class="container-fluid shadow-lg fixed-min-width table-div custom-round bottom-space" style="padding-bottom: 20px;">
        {% include "components/navigation.html" %}

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% include "components/toolbar.html" %}

                <!-- search results info -->
                {% include "components/search_info.html" %}

                <div class="container-fluid">
                    <p class="text-center text-muted" style="font-size: 70%; font-weight: bold;">
                        {{ visible_items }} елемент{{ visible_items|pluralize:"a" }}
                    </p>

                    <!-- app-specific tables -->
                    {% block table_content %}
                    {% endblock table_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
